.productContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.product {
  background-color: aquamarine;
  border: .1em solid;
  margin: 3em;
  padding: 1em;
  width: 15%;
  border-radius: 15px;
  transition: all .5s ease;
  max-width: 180px;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: scale(1.15);
  } 
}

.btn-product {
  max-width: 170px;
  min-width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.img-product {
  max-width: 155px;
  min-width: 120px;
  min-height: auto;
  border-radius: 10px;
}

header {
  position: relative;

  .backet {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 150px;
    background: #a1f11a;
  }
}

.btn-info:focus, .btn-outline-success:focus, 
.btn-outline-success.active:focus, .page-link:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}